<mat-card>
  <p>SignUp Here!!</p>
  <form (submit)="OnSignup(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text"
      placeholder="User Name"
      required ngModel
      name="sName"
      #Name="ngModel">
      <mat-error *ngIf="postForm.submitted && Name.invalid">
      <div *ngIf="Name.errors.required">Name is required</div>
      </mat-error>
   </mat-form-field>
   <br>
    <mat-form-field>
      <input type="password" matInput
      placeholder="Password"
      required ngModel
      name="uPassword"
      #Password="ngModel">
      <mat-error *ngIf="postForm.submitted && Password.invalid">
        <div *ngIf="Password.errors.required">Password is required</div>
      </mat-error>
  </mat-form-field>
  <br>
  <button mat-stroked-button color="primary">SignUp</button>
  </form>
  </mat-card>
